@import '@/assets/font/iconfont.css';

@import './ttf.css';

@import './base.css';

@import './animation.css';

/* 灰度颜色 */
.grayscale {
    filter: grayscale(100%);
}

/* 分页 */
.pagination-box {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 2rem 0 5rem 0;
  }

